@*<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
    </html>*@


<!doctype html>
@*<html lang="zxx">*@
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/template/client/assets/css/style-starter.css">
    <link href="//fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,600&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="~/template/client/assets/css/ulli.css">



    <!-- toast -->
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    <!-- menu trang -->
    <link href="~/Content/meuTrang.css" rel="stylesheet" />

    @*css for contact*@



</head>

<body>

    <!-- header -->
    <header id="site-header" class="w3l-header fixed-top">
        <!--/nav-->
        <nav class="navbar navbar-expand-lg navbar-light fill px-lg-0 py-0 px-3">
            <div class="container">
                <h1>
                    <a class="navbar-brand" href="/">
                        <span class="fa fa-play icon-log"
                              aria-hidden="true"></span>
                        SL Cinema
                    </a>
                </h1>
                <!-- if logo is image enable this
                        <a class="navbar-brand" href="#index.html">
                            <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
                        </a> -->
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <!-- <span class="navbar-toggler-icon"></span> -->
                    <span class="fa icon-expand fa-bars"></span>
                    <span class="fa icon-close fa-times"></span>
                </button>
                @Html.Action("MenuPartial", "Home")
                <!--<div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul id="nav">
                        <li><a href="/">Trang Chủ</a></li>
                        <li>
                            <a href="#">Phim</a>
                            <ul>
                                <li><a href="#">Phim Đang Chiếu</a></li>
                                <li><a href="#">Phim Sắp Chiếu</a></li>
                            </ul>
                        </li>
                        <li><a href="@Url.Action("Index", "News")">Tin Tức</a></li>
                        <li><a href="#">Về Chúng Tôi</a></li>
                        <li><a href="@Url.Action("Contact", "Information")">Liên Hệ</a></li>
                    </ul>-->
                <!--/search-right-->
                <!--/search-right-->
                <!--<div class="search-right">
                    <a href="#search" class="btn search-hny mr-lg-3 mt-lg-0 mt-4" title="search">
                        Search <span class="fa fa-search ml-3" aria-hidden="true"></span>
                    </a>-->
                <!-- search popup -->
                <!--<div id="search" class="pop-overlay">
                    <div class="popup">
                        <form action="#" method="post" class="search-box">
                            <input type="search" placeholder="Search your Keyword" name="search"
                                   required="required" autofocus="">
                            <button type="submit" class="btn">
                                <span class="fa fa-search"
                                      aria-hidden="true"></span>
                            </button>
                        </form>
                        <div class="browse-items">
                            <h3 class="hny-title two mt-md-5 mt-4">Thể Loại:</h3>
                            <ul class="search-items">
                                <li><a href="movies.html">Action</a></li>
                                <li><a href="movies.html">Drama</a></li>
                                <li><a href="movies.html">Family</a></li>
                                <li><a href="movies.html">Thriller</a></li>
                                <li><a href="movies.html">Commedy</a></li>
                                <li><a href="movies.html">Romantic</a></li>
                                <li><a href="movies.html">Tv-Series</a></li>
                                <li><a href="movies.html">Horror</a></li>
                                <li><a href="movies.html">Action</a></li>
                                <li><a href="movies.html">Drama</a></li>
                                <li><a href="movies.html">Family</a></li>
                                <li><a href="movies.html">Thriller</a></li>
                                <li><a href="movies.html">Commedy</a></li>
                                <li><a href="movies.html">Romantic</a></li>
                                <li><a href="movies.html">Tv-Series</a></li>
                                <li><a href="movies.html">Horror</a></li>
                            </ul>
                        </div>
                    </div>
                    <a class="close" href="#close">×</a>
                </div>-->
                <!-- /search popup -->
                <!--/search-right-->
                <!--</div>
                <div class="Login_SignUp" id="login"
                     style="font-size: 2rem ; display: inline-block; position: relative;">-->
                <!-- <li class="nav-item"> -->
                <!--<a class="nav-link" href="sign_in.html"><i class="fa fa-user-circle-o"></i></a>-->
                <!-- </li> -->
                <!--</div>
                    <ul id="nav">
                        <li>
                            <a href="#">Tài Khoản</a>
                            <ul>
                                <li><a href="#">Đăng Nhập</a></li>
                                <li><a href="#">Đăng Xuất</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>-->
                <!-- toggle switch for light and dark theme -->
                <div class="mobile-position">
                    <nav class="navigation">
                        <div class="theme-switch-wrapper">
                            <label class="theme-switch" for="checkbox">
                                <input type="checkbox" id="checkbox">
                                <div class="mode-container">
                                    <i class="gg-sun"></i>
                                    <i class="gg-moon"></i>
                                </div>
                            </label>
                        </div>
                    </nav>
                </div>
            </div>
        </nav>
    </header>

    <!--/breadcrumbs -->
    <div class="w3l-breadcrumbs">
        <nav id="breadcrumbs" class="breadcrumbs">
            <div class="container page-wrapper">
                <a href="@Url.Action("Index", "Home")">Trang Chủ</a> » <span class="breadcrumb_last" aria-current="page">@ViewBag.Title</span>
            </div>
        </nav>
    </div>
    <div style="display:none;">
        <span id="Message" class="d-none">@TempData["Message"]</span>
        <span id="Warning" class="d-none">@TempData["Warning"]</span>
        <span id="Error" class="d-none">@TempData["Error"]</span>
    </div>
    @Html.Partial("_Notifications")
    @RenderBody()

    <!-- toastr -->
    <div style="display:none">
        <span id="message" style="color: green; background-color:aquamarine" class="d-none">@TempData["Message"]</span>
        <span id="Warning" class="d-none">@TempData["Warning"]</span>
        <span id="Error" class="d-none">@TempData["Error"]</span>
    </div>

    <!-- footer-66 -->
    <footer class="w3l-footer">
        <section class="footer-inner-main">
            <div class="footer-hny-grids py-5">
                <div class="container py-lg-4">
                    <div class="text-txt">
                        <div class="right-side">
                            <div class="row footer-links">
                                <div class="col-md-3 col-sm-6 sub-two-right mt-5">
                                    <h6>Phim</h6>
                                    <ul>
                                        <li><a href="#">Phim Đang Chiếu</a></li>
                                        <li><a href="#">Phim Sắp Chiếu	</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-3 col-sm-6 sub-two-right mt-5">
                                    <h6>Thông Tin Liên Hệ</h6>
                                    <ul>
                                        <li><a href="@Url.Action("Index", "Home")">Trang Chủ</a> </li>
                                        <li><a href="@Url.Action("Contact", "Information")">Liên Hệ Với Chúng Tôi</a> </li>
                                        <li><a href="@Url.Action("AboutUs", "Information")">Về Chúng Tôi</a> </li>
                                    </ul>
                                </div>
                                <div class="col-md-3 col-sm-6 sub-two-right mt-5">
                                    <h6>Điều Khoản</h6>
                                    <ul>
                                        <li><a href="movies.html">Điều khoản sử dụng</a></li>
                                        <li><a href="movies.html">Chính sách bảo mật</a></li>
                                        <li><a href="movies.html">Chính sách thanh toán</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-3 col-sm-6 sub-two-right mt-5">
                                    <!-- <h6>Newsletter</h6>
                                    <form action="#" class="subscribe mb-3" method="post">
                                        <input type="email" name="email" placeholder="Your Email Address" required="">
                                        <button><span class="fa fa-envelope-o"></span></button>
                                    </form>
                                    <p>Enter your email and receive the latest news, updates and special offers from us.
                                    </p> -->
                                    <ul>
                                        <h6>Thông Tin Về Chúng Tôi</h6>
                                        <li><p>Hotline 0123456789</p></li>
                                        <li><p>Giờ hoạt đông 08:00 - 12:00</p></li>
                                        <li><p>Email hổ trợ: lscinema@gmail.com</p></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="below-section">
                <div class="container">
                    <div class="copyright-footer">
                        <div class="columns text-lg-left">
                            <p>&copy; SL Cinema 2022 - 19DTHA1</p>
                        </div>

                        <ul class="social text-lg-right">
                            <li>
                                <a href="#facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                            </li>
                            <li>
                                <a href="#linkedin"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- move top -->
            <button onclick="topFunction()" id="movetop" title="Go to top">
                <span class="fa fa-arrow-up" aria-hidden="true"></span>
            </button>
            <script>
                // When the user scrolls down 20px from the top of the document, show the button
                window.onscroll = function () {
                    scrollFunction()
                };

                function scrollFunction() {
                    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                        document.getElementById("movetop").style.display = "block";
                    } else {
                        document.getElementById("movetop").style.display = "none";
                    }
                }

                // When the user clicks on the button, scroll to the top of the document
                function topFunction() {
                    document.body.scrollTop = 0;
                    document.documentElement.scrollTop = 0;
                }
            </script>
            <!-- /move top -->

        </section>
    </footer>

    <script type="text/javascript" src="~/template/client/assets/js/contact-us.js"></script>
    <script type="text/javascript" src="~/template/client/assets/js/as-alert-message.min.js"></script>
    <script src="~/template/client/assets/js/jquery-3.3.1.min.js"></script>






    <!-- responsive tabs -->
    <script src="~/template/client/assets/js/jquery-1.9.1.min.js"></script>
    <script src="~/template/client/assets/js/easyResponsiveTabs.js"></script>

    <!-- toast -->
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>*@
    <script src="~/Scripts/toastr.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/Message.js"></script>
    <!-- toast -->




    <script type="text/javascript">
        $(document).ready(function () {
            //Horizontal Tab
            $('#parentHorizontalTab').easyResponsiveTabs({
                type: 'default', //Types: default, vertical, accordion
                width: 'auto', //auto or any width like 600px
                fit: true, // 100% fit in a container
                tabidentify: 'hor_1', // The tab groups identifier
                activate: function (event) { // Callback function if tab is switched
                    var $tab = $(this);
                    var $info = $('#nested-tabInfo');
                    var $name = $('span', $info);
                    $name.text($tab.text());
                    $info.show();
                }
            });
        });
    </script>
    <!--/theme-change-->
    <script src="~/template/client/assets/js/theme-change.js"></script>
    <script src="~/template/client/assets/js/owl.carousel.js"></script>
    <!-- script for banner slider-->
    <script>
        $(document).ready(function () {
            $('.owl-one').owlCarousel({
                stagePadding: 280,
                loop: true,
                margin: 20,
                nav: true,
                responsiveClass: true,
                autoplay: true,
                autoplayTimeout: 5000,
                autoplaySpeed: 1000,
                autoplayHoverPause: false,
                responsive: {
                    0: {
                        items: 1,
                        stagePadding: 40,
                        nav: false
                    },
                    480: {
                        items: 1,
                        stagePadding: 60,
                        nav: true
                    },
                    667: {
                        items: 1,
                        stagePadding: 80,
                        nav: true
                    },
                    1000: {
                        items: 1,
                        nav: true
                    }
                }
            })
        })
    </script>
    <script>
        $(document).ready(function () {
            $('.owl-three').owlCarousel({
                loop: true,
                margin: 20,
                nav: false,
                responsiveClass: true,
                autoplay: true,
                autoplayTimeout: 5000,
                autoplaySpeed: 1000,
                autoplayHoverPause: false,
                responsive: {
                    0: {
                        items: 2,
                        nav: false
                    },
                    480: {
                        items: 2,
                        nav: true
                    },
                    667: {
                        items: 3,
                        nav: true
                    },
                    1000: {
                        items: 5,
                        nav: true
                    }
                }
            })
        })
    </script>
    <script>
        $(document).ready(function () {
            $('.owl-mid').owlCarousel({
                loop: true,
                margin: 0,
                nav: false,
                responsiveClass: true,
                autoplay: true,
                autoplayTimeout: 5000,
                autoplaySpeed: 1000,
                autoplayHoverPause: false,
                responsive: {
                    0: {
                        items: 1,
                        nav: false
                    },
                    480: {
                        items: 1,
                        nav: false
                    },
                    667: {
                        items: 1,
                        nav: true
                    },
                    1000: {
                        items: 1,
                        nav: true
                    }
                }
            })
        })
    </script>
    <!-- script for owlcarousel -->
    <script src="~/template/client/assets/js/jquery.magnific-popup.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.popup-with-zoom-anim').magnificPopup({
                type: 'inline',

                fixedContentPos: false,
                fixedBgPos: true,

                overflowY: 'auto',

                closeBtnInside: true,
                preloader: false,

                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });

            $('.popup-with-move-anim').magnificPopup({
                type: 'inline',

                fixedContentPos: false,
                fixedBgPos: true,

                overflowY: 'auto',

                closeBtnInside: true,
                preloader: false,

                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-slide-bottom'
            });
        });
    </script>
    <!-- disable body scroll which navbar is in active -->
    <script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
    </script>
    <!-- disable body scroll which navbar is in active -->
    <!--/MENU-JS-->
    <script>
        $(window).on("scroll", function () {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function () {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function () {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });
    </script>

    <script src="~/template/client/assets/js/bootstrap.min.js"></script>



</body>

@RenderSection("scripts", required: false)

</html>




