@model BookingCinema.Models.RapChieu
@{
    ViewBag.Title = "CreateCinema";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <div class="page-title-box">
                        <h4 class="font-size-18">Rạp Chiếu</h4>
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item"><a href="@Url.Action("ListCinema", "CinemaRoom")">Rạp chiếu</a></li>
                            <li class="breadcrumb-item active">Thêm rạp chiếu mới</li>
                        </ol>
                    </div>
                </div>

                @using (Html.BeginForm("CreateCinema", "CinemaRoom", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group row row">
                                        @Html.LabelFor(model => model.ten_rap, "Tên rạp chiếu", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                        <div class="col-sm-10">
                                            @Html.EditorFor(model => model.ten_rap, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.ten_rap, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row row">
                                        @Html.LabelFor(model => model.dia_chi, "Địa chỉ rạp", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                        <div class="col-sm-10">
                                            @Html.EditorFor(model => model.dia_chi, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.dia_chi, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="float-lg-right">
                                        <div class="form-group mb-0">
                                            <div>
                                                <input type="submit" value="Create" class="btn btn-info btn-fw" />
                                                <input type="reset" value="Reset" class="btn btn-warning btn-fw" />

                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group mb-4">

                                    </div>

                                    <div class="form-group mb-0">
                                        @Html.ActionLink("Trở về", "ListCinema")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                }


            </div>
        </div>
    </div>
</div>
