@model BookingCinema.Models.LoaiGhe
@{
    ViewBag.Title = "EditSeatType";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="main-panel">
    <div class="content-wrapper">
        <div class="container-fluid">

            <div class="row align-items-center">
                <div class="col-sm-6">
                    <div class="page-title-box">
                        <h4 class="font-size-18">Loại ghế</h4>
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">Chỉnh sửa loại ghế</li>
                        </ol>
                    </div>
                </div>
            </div>

            @using (Html.BeginForm("EditSeatType", "CinemaRoom", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.id)
                                @Html.HiddenFor(model => model.status)
                                @Html.HiddenFor(model => model.anh_loai_ghe)

                                <div class="form-group row">
                                    @Html.LabelFor(model => model.ten_ghe, "Tên loại ghế", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                    <div class="col-md-3">
                                        @Html.EditorFor(model => model.ten_ghe, new { htmlAttributes = new { @class = "form-control border-form-1" } })
                                        @Html.ValidationMessageFor(model => model.ten_ghe, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group row">
                                    @Html.LabelFor(model => model.phu_thu, "Giá phụ thu", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                    <div class="col-md-2">
                                        @Html.EditorFor(model => model.phu_thu, new { htmlAttributes = new { @class = "form-control border-form-1" } })
                                        @Html.ValidationMessageFor(model => model.phu_thu, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.anh_loai_ghe, "Ảnh", htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.anh_loai_ghe, new { htmlAttributes = new { type = "file", @class = "form-control " } })
                                        @Html.ValidationMessageFor(model => model.anh_loai_ghe, "", new { @class = "text-danger" })
                                        <img class="img-thumbnail" src="~/images/seattype/@Model.anh_loai_ghe" alt="" width="100" height="100" /> (Ảnh hiện tại)
                                    </div>
                                </div>

                                <div class="float-lg-right">
                                    <div class="form-group mb-0">
                                        <div>
                                            <input type="submit" value="Save" class="btn btn-info btn-fw" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mb-4">

                                </div>

                                <div class="form-group mb-0">
                                    @Html.ActionLink("Trở về", "ListSeatType")
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>