@model BookingCinema.Models.KhungGio
@{
    ViewBag.Title = "EditKhungGio";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="container-fluid">

            <div class="row align-items-center">
                <div class="col-sm-6">
                    <div class="page-title-box">
                        <h4 class="font-size-18">Khung giờ chiếu</h4>
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                            <li class="breadcrumb-item active">Cập nhật giờ chiếu</li>
                        </ol>
                    </div>
                </div>


            </div>

            <!-- end page title -->

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.id)
                                @Html.HiddenFor(model => model.status)


                                <div class="form-group row">
                                    @Html.LabelFor(model => model.ThoiGian, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                                    <div class="col-sm-2">
                                        @Html.EditorFor(model => model.ThoiGian, "Thời gian", new { htmlAttributes = new { type = "time", @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.ThoiGian, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="float-lg-right">
                                    <div class="form-group mb-0">
                                        <div>
                                            <input type="submit" value="Save" class="btn btn-info btn-fw" />
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group mb-4">

                                </div>

                                <div class="form-group mb-0">
                                    @Html.ActionLink("Trở về", "ListKhungGio")
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
</div>